
/** category-section **/

.category-section{
  position: relative;
}

.category-section .inner-container{
  margin: 0px 3px;
}

.category-section .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.category-block{
  padding: 0px 12px;
}

.category-block-one .inner-box{
  position: relative;
  display: block;
  background: #fff;
  padding: 20px 15px 20px 185px;
  border-radius: 5px;
  margin-bottom: 24px;
  min-height: 150px;
  transition: all 500ms ease;
}

.category-block-one .inner-box:hover{
  transform: translateY(-10px);
}

.category-block-one .inner-box .image-box{
  position: absolute;
  left: 15px;
  top: 15px;
  width: 150px;
  border-radius: 5px;
}

.category-block-one .inner-box .image-box img{
  width: 100%;
  border-radius: 5px;
}

.category-block-one .inner-box h3{
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
}

.category-block-one .inner-box h3 a{
  display: inline-block;
  color: var(--title-color);
}

.category-block-one .inner-box h3 a:hover{
  color: var(--secondary-color);
}

.category-block-one .inner-box p{
  font-size: 18px;
  line-height: 28px;
}




/** RTL **/



/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){
  .category-section{
    padding: 70px 0px 40px 0px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){

}










































