
/** chooseus-section **/

.chooseus-section{
  position: relative;
}

.content_block_one .content-box{
  position: relative;
  display: block;
}

.content_block_one .content-box .sec-title .sub-title{
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 10px;
}

.content_block_one .content-box .list-style-one li a{
  background: var(--title-color);
}

.content_block_one .content-box .list-style-one li{
  float: left;
  width: 50%;
  margin-bottom: 30px;
}

.chooseus-section .offer-box{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  padding: 152px 0px;
}

.chooseus-section .offer-box .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chooseus-section .offer-box .bg-layer:before{
  position: absolute;
  content: '';
  background: linear-gradient(rgba(5, 16, 54, 0.8), rgba(5, 16, 54, 0.7), rgba(5, 16, 54, 0));
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.9;
}

.content_block_two .content-box{
  position: relative;
  display: block;
}

.chooseus-section .content_block_two .content-box{
  max-width: 415px;
  margin: 0 auto;
  text-align: center;
}

.content_block_two .content-box .cs-countdown{
  position: relative;
  display: block;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  padding: 8.5px 40px;
}

.content_block_two .content-box .cs-countdown:before{
  position: absolute;
  content: '';
  background-image: url(../images/shape-5.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 0px;
  top: 0px;
}

.content_block_two .content-box .cs-countdown .count-col{
  position: relative;
  float: left;
  text-align: center;
  margin-right: 22px;
}

.content_block_two .content-box .cs-countdown .count-col:last-child{
  margin: 0px !important;
}

.content_block_two .content-box .cs-countdown .count-col span{
  position: relative;
  display: inline-block;
  font-size: 30px;
  line-height: 43px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0px;
  color: #fff;
}

.content_block_two .content-box .cs-countdown .count-col h6{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  font-weight: 400;
  text-transform: lowercase;
}

.content_block_two .content-box .sub-title{
  position: relative;
  display: block;
  font-size: 44px;
  line-height: 34px;
  font-family: var(--secondary-font);
  font-weight: 500;
  color: #fff;
  margin-bottom: 36px;
}

.content_block_two .content-box p{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.content_block_two .content-box h2{
  position: relative;
  display: block;
  font-size: 80px;
  line-height: 80px;
  font-weight: 700;
}

.content_block_two .content-box h2 span{
  font-size: 30px;
  font-weight: 600;
}

.content_block_two .content-box h3{
  position: relative;
  display: block;
  font-size: 26px;
  line-height: 36px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
}

.chooseus-section.alternat-2 .offer-box{
  right: inherit;
  left: 0px;
  width: calc(50% - 170px);
}

.chooseus-section .pattern-layer{
  position: absolute;
  top: 0px;
  right: 0px;
  width: calc(50% + 170px);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chooseus-section.alternat-2 .sec-title{
  padding-left: 220px;
}

.chooseus-section.alternat-2 .content_block_two .content-box{
  margin-left: 90px;
  margin-top: 60px;
}

.chooseus-section .inner-content{
  padding-left: 330px;
}



/** RTL **/

.rtl .chooseus-section .offer-box{
  right: inherit;
  left: 0px;
}

.rtl .content_block_one .content-box .list-style-one li{
  float: right;
}

.rtl .content_block_two .content-box .cs-countdown .count-col{
  float: right;
  margin-right: 0px;
  margin-left: 22px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .chooseus-section .offer-box{
    position: relative;
    width: 100%;
  }

  .chooseus-section{
    padding-bottom: 0px;
  }

  .chooseus-section .content_block_one .content-box{
    padding-bottom: 70px;
  }

  .content_block_one .content-box{
    margin-right: 0px;
  }

  .chooseus-section.alternat-2 .sec-title{
    padding-left: 0px;
  }

  .chooseus-section .inner-content{
    padding-left: 0px;
  }

  .chooseus-section .destination-block-one .inner-box{
    margin-bottom: 30px;
  }

  .chooseus-section.alternat-2 .offer-box{
    width: 100%;
  }

  .chooseus-section.alternat-2 .content_block_two .content-box{
    margin-left: auto;
  }
}

@media only screen and (max-width: 767px){
  .chooseus-section{
    padding-top: 70px;
  }

  .content_block_one .content-box .list-style-one li{
    float: none;
    width: 100%;
  }

  .chooseus-section .offer-box{
    padding: 70px 0px;
  }
}

@media only screen and (max-width: 599px){
  .chooseus-section .content_block_two .content-box{
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 499px){
  .content_block_two .content-box .cs-countdown{
    padding-left: 20px;
    padding-right: 20px;
  }
}










































