
/* template-color */

.handle-preloader{
	background: var(--secondary-color);
}

.preloader-close{
	color: var(--secondary-color);
}

.sec-title .sub-title{
	background: var(--theme-color);
}

.destination-block-one .inner-box .content-box .rating{
	background: var(--theme-color);
}

.tour-block-one .inner-box .image-box .image span{
	background: var(--theme-color);
}

.tour-block-one .inner-box .image-box .image .like-btn:hover i:before{
	background: var(--theme-color);
}

.tour-block-one .inner-box .lower-content .info-list li.rating i{
	background: var(--theme-color);
}

.tour-block-one .inner-box .lower-content .location-box{
	background: var(--theme-color);
}

.tour-block-one .inner-box .lower-content .location-box i{
	background: var(--theme-color);
}

.content_block_one .content-box .list-style-one li a:hover{
  background: var(--theme-color);
}

.list-style-one li a i{
	background: var(--theme-color);
}

.gradient-color{
	background: var(--theme-color);
}

.testimonial-section .testimonial__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background: var(--theme-color);
}

.about-section .image-box:before{
	background: var(--theme-color);
}

.explore-section .offer-box-one{
	background: var(--theme-color);
}

.explore-section .offer-box-three .link-btn:hover{
  background: var(--theme-color);
}

.image_block_one .image-box .video-inner .video-btn{
	background: var(--theme-color);
}

.team-block-two .inner-box .share-icon:before{
	background: var(--theme-color);
}

.team-block-two .inner-box .social-links li a:hover:before{
	background: var(--theme-color);
}

.info-block-one .inner-box .icon-box{
	background: var(--theme-color);
}

.range-slider .ui-slider .ui-slider-range{
	background: var(--theme-color);
}

.range-slider .ui-widget-content .ui-state-default{
	background: var(--theme-color);
}

.check-box label i{
	background: var(--theme-color);
}

.check-box label:after{
	background: var(--theme-color);
}

.tour-details-content .content-box .info-list li.rating i{
	background: var(--theme-color);
}

.accordion .acc-btn.active{
  	background: var(--theme-color) !important;
}

.progress-box .bar-inner{
	background: var(--theme-color);
}

.progress-box .bar-inner:before{
	background: var(--theme-color);
}

.tour-details-content .review-box .single-customer-review .title-box .rating li{
	background: var(--theme-color);
}

.tour-details-content .review-box .single-customer-review .btn-box .reply-btn:before{
	background: var(--theme-color);
}

.tour-sidebar .booking-widget .title-box{
	background: var(--theme-color);
}

.team-details-content .content-box .social-links li a:after{
	background: var(--theme-color);
}

.team-details .bio-information .experience-inner .inner-box .single-item:before{
	background: var(--theme-color);
}

.blog-details-content blockquote h3:before{
	background: var(--theme-color);
}

.blog-details-content .post-share-option .tags-list li a:before{
  background: var(--theme-color);
}

.blog-details-content .single-customer-review .btn-box .reply-btn:before{
	background: var(--theme-color);
}

.info-block-two .inner-box .icon-box{
	background: var(--theme-color);
}



























