
/** funfact-section **/

.funfact-section{
  position: relative;
  overflow: hidden;
}

.funfact-section .bg-layer:before{
  position: absolute;
  content: '';
  background: #0F2454;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.funfact-section .inner-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.funfact-block-one .inner-box{
  position: relative;
  display: block;
}

.funfact-block-one .inner-box .icon-box{
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  color: #fff;
  background: rgba(255, 255, 255, 0.20);
  border-radius: 50%;
  margin-bottom: 30px;
}

.funfact-block-one .inner-box .icon-box:before{
  position: absolute;
  content: '';
  width: 108px;
  height: 108px;
  border-radius: 50%;
  left: -14px;
  top: -14px;
  border: 8px solid rgba(255, 255, 255, 0.20);
}

.funfact-block-one .inner-box .count-outer{
  position: relative;
  display: block;
  font-size: 40px;
  line-height: 55px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 5px;
}

.funfact-block-one .inner-box h3{
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 32px;
  color: #fff;
  font-weight: 500;
}

.funfact-block-one .inner-box .arrow-shape{
  position: absolute;
  top: 50px;
  left: 190px;
  width: 139px;
  height: 42px;
  background-repeat: no-repeat;
}



/** RTL **/

.rtl .funfact-block-one .inner-box .arrow-shape{
  left: inherit;
  right: 190px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){
  .funfact-block-one .inner-box .arrow-shape{
    display: none;
  }
}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){
  .funfact-section .inner-container{
    display: block;
    text-align: center;
  }

  .funfact-block-one{
    margin-bottom: 40px;
  }

  .funfact-block-one:last-child{
    margin-bottom: 0px;
  }

  .funfact-section{
    padding: 80px 0px 70px 0px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){

}










































