
/** newsletter-section **/

.newsletter-section{
  position: relative;
}

.newsletter-section:before{
  position: absolute;
  content: '';
  background: #EDF1F4;
  width: 50%;
  height: 100%;
  top: 0px;
  right: 0px;
}

.newsletter-section .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content_block_three .content-box{
  position: relative;
  display: block;
}

.content_block_three .content-box p{
  display: block;
  font-size: 20px;
  line-height: 30px;
  color: var(--title-color);
  margin-bottom: 50px;
}

.content_block_three .content-box .lower-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content_block_three .content-box .lower-box .thumb-box{
  position: relative;
  display: flex;
  align-items: center;
}

.content_block_three .content-box .lower-box .thumb-box li{
  position: relative;
  display: inline-block;
  border-radius: 50%;
  margin-right: -20px;
}

.content_block_three .content-box .lower-box .thumb-box li img{
  width: 100%;
  border-radius: 50%;
}

.content_block_three .content-box .lower-box .theme-btn{
  background: #0C264C;
  padding: 15px 28px;
}

.content_block_four .content-box{
  position: relative;
  display: block;
}

.content_block_four .content-box p{
  font-size: 20px;
  line-height: 30px;
  color: var(--title-color);
  margin-bottom: 50px;
}

.content_block_four .content-box .form-inner .form-group{
  position: relative;
  margin-bottom: 0px;
}

.content_block_four .content-box .form-inner .form-group input[type='email']{
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
  background: #fff;
  font-size: 20px;
  color: #697488;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 10px 80px 10px 30px;
  transition: all 500ms ease;
}

.content_block_four .content-box .form-inner .form-group input:focus{
  border-color: var(--secondary-color);
}

.content_block_four .content-box .form-inner .form-group button[type='submit']{
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
}

.newsletter-section .image-layer{
  position: absolute;
  right: 40px;
  bottom: 0px;
}



/** RTL **/

.rtl .content_block_four .content-box{
  margin-left: 0px;
  margin-right: 45px;
}

.rtl .content_block_three .content-box{
  margin-right: 0px;
  margin-left: 75px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .content_block_three .content-box{
    margin: 0px 0px 30px 0px !important;
  }

  .content_block_four .content-box{
    margin: 0px !important;
  }
}

@media only screen and (max-width: 767px){
  .newsletter-section{
    padding: 65px 0px 70px 0px;
  }

  .newsletter-section .image-layer{
    display: none;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){
  .content_block_three .content-box .lower-box{
    display: block;
  }

  .content_block_three .content-box .lower-box .thumb-box{
    margin-bottom: 20px;
  }
}










































