
/** news-section **/

.news-section{
  position: relative;
}

.news-block-one .inner-box{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.news-block-one .inner-box .image-box{
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.news-block-one .inner-box .image-box img{
  width: 100%;
  border-radius: 10px;
  transition: all 500ms ease;
}

.news-block-one .inner-box:hover .image-box img{
  transform: scale(1.05);
}

.news-block-one .inner-box .content-box{
  position: relative;
  display: block;
  padding-left: 24px;
  max-width: 329px;
}

.news-block-one .inner-box .content-box .post-info{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.news-block-one .inner-box .content-box .post-info li{
  font-size: 20px;
  line-height: 24px;
  color: var(--title-color);
  margin-right: 20px;
}

.news-block-one .inner-box .content-box .post-info li:last-child{
  margin: 0px !important;
}

.news-block-one .inner-box .content-box .post-info li a{
  position: relative;
  display: inline-block;
  color: var(--title-color);
}

.news-block-one .inner-box .content-box .post-info li a:hover{
  color: var(--secondary-color);
}

.news-block-one .inner-box .content-box h3{
  position: relative;
  display: block;
  font-size: 26px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.news-block-one .inner-box .content-box h3 a{
  display: inline-block;
  color: var(--title-color);
}

.news-block-one .inner-box .content-box h3 a:hover{
  color: var(--secondary-color);
}

.news-block-one .inner-box .content-box p{
  line-height: 29px;
  margin-bottom: 50px;
}


.news-block-one.style-two .inner-box{
  display: block;
  padding: 20px;
  padding-top: 0px;
}

.news-block-one.style-two .inner-box:before{
  position: absolute;
  content: '';
  background: #fff;
  width: 100%;
  height: calc(100% - 170px);
  left: 0px;
  bottom: 0px;
  box-shadow: 0px 0px 70px 0px #0000001A;
  border-radius: 10px;
}

.news-block-one.style-two .inner-box .content-box{
  padding: 30px 10px 20px 10px;
  max-width: 100%;
}

.news-section .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar-page-container .news-block-one .inner-box .content-box h3{
  font-size: 30px;
  line-height: 43px;
}

.sidebar-page-container .news-block-one.style-two .inner-box{
  padding: 0px;
}

.sidebar-page-container .news-block-one.style-two .inner-box .content-box{
  padding: 30px;
}

.sidebar-page-container .news-block-one .inner-box .content-box p{
  margin-bottom: 30px;
}

.sidebar-page-container .news-block-one .inner-box .image-box,
.sidebar-page-container .news-block-one .inner-box .image-box img{
  border-radius: 10px 10px 0px 0px;
}



/** RTL **/

.rtl .news-block-one .inner-box .content-box{
  padding-left: 0px;
  padding-right: 24px;
}

.rtl .news-block-one .inner-box .content-box .post-info li{
  margin-right: 0px;
  margin-left: 20px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .news-block-one .inner-box .content-box{
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px){
  .news-block-one .inner-box{
    position: relative;
    display: block;
  }

  .news-block-one .inner-box .content-box{
    padding: 25px 0px 0px 0px;
  }

  .news-section{
    padding: 70px 0px 40px 0px;
  }

  .sidebar-page-container{
    padding: 70px 0px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){

}










































