/* Responsive Css */


@media only screen and (max-width: 1749px){



}


@media only screen and (max-width: 1499px){
  .main-header .outer-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .main-header .logo-box{
    margin-right: 30px;
  }

  .rtl .main-header .logo-box{
    margin-left: 30px;
  }

  .main-header .menu-right-content .theme-btn{
    padding: 15px;
  }

  .main-menu .navigation > li{
    margin: 0px 15px;
  }

}


@media only screen and (max-width: 1399px){


}


@media only screen and (max-width: 1299px){


}



@media only screen and (max-width: 1200px){

  .main-menu,
  .sticky-header,
  .main-header.style-one .outer-container:before{
    display: none !important;
  }

  .menu-area .mobile-nav-toggler {
    display: block;
    padding: 10px;
  }

  .megamenu ul li:first-child{
    display: none;
  }

  .main-header .menu-right-content{
    padding: 15px 0px;
  }


}



@media only screen and (min-width: 768px){
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul,
  .main-menu .navigation > li > .megamenu{
    display:block !important;
    visibility:hidden;
    opacity:0;
  }
}



@media only screen and (max-width: 991px){
  .main-footer .footer-widget{
    margin: 0px 0px 30px 0px !important;
  }

  .main-footer .widget-section{
    padding-bottom: 50px;
  }

}


@media only screen and (max-width: 767px){
  .main-header .menu-right-content .theme-btn.btn-two{
    display: none;
  }

  .sec-title h2{
    font-size: 30px;
    line-height: 40px;
  }

  .sec-title p br{
    display: none;
  }

  .footer-bottom .bottom-inner{
    display: block;
    text-align: center;
  }

  .footer-bottom .card-list{
    justify-content: center;
  }

  .footer-top{
    padding-top: 60px;
  }

}

@media only screen and (max-width: 599px){

  


}


@media only screen and (max-width: 499px){

  .mobile-menu{
    width: 100%;
  }

  .main-header .menu-right-content{
    display: none;
  }

  .main-header .logo-box{
    padding: 15px 0px;
    margin: 0px;
  }

  .main-header .outer-box{
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-header .outer-box{
    display: block;
  }

  .main-header .outer-box .left-column{
    justify-content: space-between;
  }

  .footer-bottom .card-list li{
    margin-right: 15px;
  }

  .rtl .footer-bottom .card-list li{
    margin-left: 15px;
  }

  .pagination li{
    margin: 0px 3px;
  }

  .pagination li a{
    width: 36px;
    height: 36px;
    line-height: 36px;
  }

}




















