
/** tours-section **/

.tours-section{
  position: relative;
}

.tours-section:before{
  position: absolute;
  content: '';
  background: #F5F5F5;
  width: 100%;
  height: 810px;
  left: 0px;
  top: -265px;
}

.tours-section .pattern-layer{
  position: absolute;
  left: 0px;
  top: -265px;
  width: 100%;
  height: 810px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tours-section .inner-container{
  position: relative;
  margin: 0px 3px;
}

.tours-section .sec-title .theme-btn.btn-two{
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-color: #0C264C;
  color: #0C264C !important;
}

.tours-section .sec-title .theme-btn.btn-two:hover{
  color: #fff !important;
  border-color: transparent;
}

.tours-section .sec-title .theme-btn.btn-two:before,
.tours-section .sec-title .theme-btn.btn-two:after{
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  left: -1px;
  top: -1px;
}

.tour-block-one .inner-box{
  position: relative;
  display: block;
  border: 1px solid rgba(12, 38, 76, 0.10);
  border-radius: 5px;
  padding: 20px;
  background: #fff;
  margin-bottom: 30px;
  transition: all 500ms ease;
}

.tour-block-one .inner-box:hover{
  border-color: transparent;
  box-shadow: 0px 0px 60px 0px rgba(12, 38, 76, 0.10);
}

.tour-block-one .inner-box .image-box{
  position: relative;
  display: block;
  padding-right: 120px;
}

.tour-block-one .inner-box .image-box .image{
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 5px;
}

.tour-block-one .inner-box .image-box .image img{
  width: 100%;
  border-radius: 5px;
}

.tour-block-one .inner-box .image-box .image span{
  position: absolute;
  display: inline-block;
  left: 20px;
  top: 20px;
  font-size: 18px;
  line-height: 16px;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
}

.tour-block-one .inner-box .image-box .image .like-btn{
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 36px;
  background: rgba(255, 255, 255, 0.20);
  text-align: center;
  font-size: 16px;
  color: #fff;
  border-radius: 50%;
  top: 20px;
  right: 20px;
  transition: all 500ms ease;
}

.tour-block-one .inner-box .image-box .image .like-btn:hover{
  background: #fff;
}

.tour-block-one .inner-box .image-box .image .like-btn:hover i:before{
  content: '\e903';
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tour-block-one .inner-box .image-box .image-list{
  position: absolute;
  top: 0px;
  right: 0px;
}

.tour-block-one .inner-box .image-box .image-list li{
  position: relative;
  display: block;
  width: 100px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.tour-block-one .inner-box .image-box .image-list li:last-child{
  margin-bottom: 0px;
}

.tour-block-one .inner-box .image-box .image-list li img{
  width: 100%;
  border-radius: 5px;
}

.tours-section .tour-block{
  padding: 0px 12px;
}

.tour-block-one .inner-box .lower-content{
  position: relative;
  padding-top: 20px;
}

.tour-block-one .inner-box .lower-content .info-list{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.tour-block-one .inner-box .lower-content .info-list li{
  position: relative;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: var(--title-color);
}

.tour-block-one .inner-box .lower-content .info-list li.time{
  padding-left: 19px;
  margin-right: 30px;
}

.tour-block-one .inner-box .lower-content .info-list li.time i{
  position: absolute;
  left: 0px;
  top: 3px;
  font-size: 13px;
}

.tour-block-one .inner-box .lower-content .info-list li.rating{
  position: relative;
  display: flex;
}

.tour-block-one .inner-box .lower-content .info-list li.rating i{
  font-size: 12px;
  line-height: 18px;
  margin-right: 5px;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tour-block-one .inner-box .lower-content .info-list li.rating i.light{
  background: #697488;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tour-block-one .inner-box .lower-content h3{
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.tour-block-one .inner-box .lower-content h3 a{
  display: inline-block;
  color: var(--title-color);
}

.tour-block-one .inner-box .lower-content h3 a:hover{
  color: var(--secondary-color);
}

.tour-block-one .inner-box .lower-content .location-box{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 30px;
  padding-left: 25px;
  margin-bottom: 20px;
}

.tour-block-one .inner-box .lower-content .location-box i{
  position: absolute;
  left: 0px;
  top: 3px;
  font-size: 22px;
}

.tour-block-one .inner-box .lower-content .lower-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tour-block-one .inner-box .lower-content .lower-box h3{
  margin-bottom: 0px;
}

.tour-block-one .inner-box .lower-content .lower-box h3 del{
  font-size: 15px;
  color: var(--text-color);
}

.tour-block-one .inner-box .lower-content .lower-box .theme-btn{
  padding: 7px 25px;
}

.tours-section.alternat-2:before{
  display: none;
}

.tours-section.alternat-2 .tour-block-one .inner-box .image-box{
  padding: 0px;
}

.tours-section.alternat-2 .tour-block-one .inner-box{
  padding: 0px;
  border: none;
  border-radius: 15px;
}

.tours-section.alternat-2 .tour-block-one .inner-box .image-box .image{
  border-radius: 15px 15px 0px 0px;
}

.tours-section.alternat-2 .tour-block-one .inner-box .image-box .image img{
  border-radius: 15px 15px 0px 0px;
}

.tours-section.alternat-2 .tour-block-one .inner-box .lower-content{
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 0px 0px 15px 15px;
  border-top: none;
  transition: all 500ms ease;
}

.tours-section.alternat-2 .tour-block-one .inner-box:hover .lower-content{
  border-color: #fff;
}

.tours-section.alternat-2 .tour-block-one .inner-box .lower-content .location-box{
  color: #697488;
  background: transparent;
}

.tours-section.alternat-2 .tour-block-one .inner-box .lower-content .location-box i{
  background: transparent;
}

.tours-section.alternat-2 .tour-block-one .inner-box .lower-content h3{
  margin-bottom: 20px;
}

.tours-section.alternat-2 .tour-block-one .inner-box .lower-content .info-list{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed rgba(105, 116, 136, 0.50);
}

.tours-section.alternat-2 .tour-block-one .inner-box .lower-content .lower-box h3{
  margin-bottom: 0px;
}

.tour-block-one .inner-box .lower-content .lower-box .link{
  position: relative;
  display: inline-block;
  line-height: 24px;
  color: #0C264C;
}

.tour-block-one .inner-box .lower-content .lower-box .link:hover{
  color: var(--secondary-color);
}

.tour-block-one .inner-box .lower-content .lower-box .link span{
  position: relative;
  padding-right: 34px;
}

.tour-block-one .inner-box .lower-content .lower-box .link span:before{
  position: absolute;
  content: '\e90c';
  font-family: 'icomoon';
  font-size: 13px;
  top: 5px;
  right: 0px;
  color: rgba(255, 138, 87, 1.0);
}

.tours-section .more-btn .theme-btn{
  border-color: #0C264C;
  color: #0C264C !important;
}

.tours-section .pattern-layer-2{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tours-section.alternat-2.home-3 .tour-block-one .inner-box .lower-content .location-box{
  color: #FF8A57;
}

.tours-section.alternat-2.home-3 .tour-block-one .inner-box .lower-content .location-box i{
  color: #697488;
}

.tours-section.alternat-2.home-3 .tour-block-one .inner-box .lower-content h3{
  font-size: 26px;
  line-height: 36px;
}

.tours-section.alternat-2.home-3 .tour-block-one .inner-box .lower-content .info-list{
  padding: 0px;
  margin: 0px;
  border: none;
}

.tours-section.alternat-2.home-3 .tour-block-one .inner-box .lower-content .lower-box{
  padding-top: 20px;
  border-top: 1px dashed rgba(105, 116, 136, 0.50);
}

.tours-section .upper-box{
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.tours-section .tab-btns li{
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 20px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: var(--title-color);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 14px 40px;
  cursor: pointer;
  transition: all 500ms ease;
}

.tours-section .tab-btns li:last-child{
  margin: 0px !important;
}

.tours-section .tab-btns li.active-btn,
.tours-section .tab-btns li:hover{
  color: #fff;
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}

.tour-list .tour-block-one .inner-box{
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.1);
}

.tour-list .tour-block-one .inner-box .image-box .image,
.tour-list .tour-block-one .inner-box .image-box .image img{
  border-radius: 0px !important;
}

.tour-list .tour-block-one .inner-box .lower-content{
  width: 100%;
  border: none !important;
}

.tour-list .tour-block-one .inner-box .image-box{
  width: 100%;
  max-width: 416px;
}

.tour-block-one .inner-box .lower-content p{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px dashed rgba(105, 116, 136, 0.50);
}

.tour-list.tours-section .tour-block-one .inner-box .lower-content .info-list{
  padding-bottom: 0px;
  margin-bottom: 15px;
  border-bottom: none;
}

.tour-list.tours-section .tour-block-one .inner-box .lower-content h3{
  margin-bottom: 26px;
  line-height: 36px;
  margin-bottom: 15px;
}

.tour-list.tours-section .tour-block-one .inner-box .lower-content .location-box{
  margin-bottom: 15px;
}



/** RTL **/

.rtl .tour-block-one .inner-box .lower-content .info-list li.time{
  margin-right: 0px;
  margin-left: 30px;
}

.rtl .tour-block-one .inner-box .lower-content .info-list li.rating i{
  margin-right: 0px;
  margin-left: 5px;
}

.rtl .tour-block-one .inner-box .lower-content .location-box{
  padding-left: 0px;
  padding-right: 25px;
}

.rtl .tour-block-one .inner-box .lower-content .location-box i{
  left: inherit;
  right: 0px;
}

.rtl .tours-section .sec-title .theme-btn.btn-two{
  right: inherit;
  left: 0px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){
  .tours-section .upper-box{
    display: block;
    text-align: center;
  }

  .tours-section .tab-btns li{
    float: none;
  }

  .tours-section .tab-btn-box{
    margin-top: 30px;
  }
}

@media only screen and (max-width: 991px){
  .tours-section .sec-title .theme-btn.btn-two{
    position: relative;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 767px){
  .tours-section{
    padding: 70px 0px 40px 0px;
  }

  .tours-section .tab-btns li{
    margin-right: 16px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){
  .tour-block-one .inner-box .image-box{
    padding-right: 0px;
  }

  .tour-block-one .inner-box .image-box .image-list{
    position: relative;
  }

  .tour-block-one .inner-box .image-box .image-list li{
    display: inline-block;
    margin-right: 6px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .tours-section.alternat-2 .tour-block-one .inner-box .lower-content .lower-box{
    display: block;
  }
}










































