
/** video-section **/

.video-section{
  position: relative;
  overflow: hidden;
}

.video-section:before{
  position: absolute;
  content: '';
  background: linear-gradient(rgba(5, 16, 54, 0.8), rgba(5, 16, 54, 0), rgba(5, 16, 54, 0.7));
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.9;
  z-index: 1;
}

.video-section .inner-box{
  position: relative;
  display: block;
}

.video-section .inner-box .sub-title{
  position: relative;
  display: block;
  font-size: 40px;
  line-height: 50px;
  font-family: var(--secondary-font);
  color: #fff;
  margin-bottom: 20px;
}

.video-section .inner-box h2{
  position: relative;
  display: block;
  font-size: 60px;
  line-height: 80px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 80px;
}

.video-section .inner-box .video-btn{
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  line-height: 128px;
  font-size: 60px;
  color: #fff;
  text-align: center;
  background: var(--theme-color);
  border-radius: 50%;
}

.video-section .inner-box .video-btn i{
  position: relative;
  display: inline-block;
  text-shadow: 0px 8px 0px rgba(0, 0, 0, 0.25);
}

.video-section .inner-box .video-btn:before,
.video-section .inner-box .video-btn:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
  content: "";
  position: absolute;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.video-section .inner-box .video-btn:after{
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}



/** RTL **/



/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){
  .video-section{
    padding: 70px 0px 90px 0px;
  }

  .video-section .inner-box h2{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){

}










































